body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/54/00/22/54002247d385ace9de25dbb814e095de.gif"); }

#myAnimation {
  position: absolute; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.card {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

._1 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s; }

._2 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s; }

._3 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s; }

._4 {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s; }

._5 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s; }

._6 {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  -ms-animation-delay: 2.4s;
  -o-animation-delay: 2.4s;
  animation-delay: 2.4s; }

._7 {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  -ms-animation-delay: 2.8s;
  -o-animation-delay: 2.8s;
  animation-delay: 2.8s; }

._8 {
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -ms-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  animation-delay: 3.2s; }

._9 {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay: 3.6s;
  -ms-animation-delay: 3.6s;
  -o-animation-delay: 3.6s;
  animation-delay: 3.6s; }

._10 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s; }

.loading {
  display: inline-block; }

#loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999; }

h1 {
  font-family: sans-serif;
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  font-size: 4em; }

h1:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 11em;
  white-space: nowrap;
  color: #fff;
  animation: loading 2.5s linear; }

.loader {
  animation: spin 1s linear infinite;
  display: inline-block;
  padding-bottom: 4rem; }

@keyframes loading {
  0% {
    max-width: 0; } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.content {
  color: #000;
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  position: relative; }
@keyframes glitch-anim-1 {
  0% {
    clip: rect(108px, 1084px, 153px, 0); }
  5% {
    clip: rect(139px, 1084px, 198px, 0); }
  10% {
    clip: rect(103px, 1084px, 99px, 0); }
  15% {
    clip: rect(82px, 1084px, 121px, 0); }
  20% {
    clip: rect(21px, 1084px, 17px, 0); }
  25% {
    clip: rect(176px, 1084px, 121px, 0); }
  30% {
    clip: rect(115px, 1084px, 74px, 0); }
  35% {
    clip: rect(69px, 1084px, 16px, 0); }
  40% {
    clip: rect(154px, 1084px, 146px, 0); }
  45% {
    clip: rect(109px, 1084px, 152px, 0); }
  50% {
    clip: rect(19px, 1084px, 92px, 0); }
  55% {
    clip: rect(96px, 1084px, 31px, 0); }
  60% {
    clip: rect(50px, 1084px, 157px, 0); }
  65% {
    clip: rect(55px, 1084px, 38px, 0); }
  70% {
    clip: rect(174px, 1084px, 30px, 0); }
  75% {
    clip: rect(116px, 1084px, 79px, 0); }
  80% {
    clip: rect(98px, 1084px, 91px, 0); }
  85% {
    clip: rect(122px, 1084px, 50px, 0); }
  90% {
    clip: rect(98px, 1084px, 124px, 0); }
  95% {
    clip: rect(180px, 1084px, 90px, 0); }
  100% {
    clip: rect(3px, 1084px, 150px, 0); } }
@keyframes glitch-anim-2 {
  0% {
    clip: rect(6px, 1084px, 189px, 0); }
  5% {
    clip: rect(171px, 1084px, 189px, 0); }
  10% {
    clip: rect(178px, 1084px, 40px, 0); }
  15% {
    clip: rect(75px, 1084px, 153px, 0); }
  20% {
    clip: rect(62px, 1084px, 116px, 0); }
  25% {
    clip: rect(138px, 1084px, 163px, 0); }
  30% {
    clip: rect(32px, 1084px, 180px, 0); }
  35% {
    clip: rect(20px, 1084px, 34px, 0); }
  40% {
    clip: rect(135px, 1084px, 100px, 0); }
  45% {
    clip: rect(104px, 1084px, 84px, 0); }
  50% {
    clip: rect(29px, 1084px, 156px, 0); }
  55% {
    clip: rect(155px, 1084px, 90px, 0); }
  60% {
    clip: rect(15px, 1084px, 142px, 0); }
  65% {
    clip: rect(168px, 1084px, 189px, 0); }
  70% {
    clip: rect(4px, 1084px, 71px, 0); }
  75% {
    clip: rect(146px, 1084px, 73px, 0); }
  80% {
    clip: rect(183px, 1084px, 163px, 0); }
  85% {
    clip: rect(46px, 1084px, 11px, 0); }
  90% {
    clip: rect(174px, 1084px, 123px, 0); }
  95% {
    clip: rect(36px, 1084px, 31px, 0); }
  100% {
    clip: rect(94px, 1084px, 5px, 0); } }
  .content:before, .content:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .content:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .content:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-anim-2 3s infinite linear alternate-reverse; }

/*# sourceMappingURL=styles.css.map */
