body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/54/00/22/54002247d385ace9de25dbb814e095de.gif");
}



#myAnimation {
    position: absolute;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.card {
    padding: 2rem;
    margin: 2rem;
}

