body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/54/00/22/54002247d385ace9de25dbb814e095de.gif");
}



#myAnimation {
    position: absolute;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.card {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@mixin animationDelay ($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay:    $delay;
    -ms-animation-delay:     $delay;
    -o-animation-delay:      $delay;
    animation-delay:      $delay;
}

$interval: .4s;
$classesToAdd: 10;

@for $i from 1 to $classesToAdd + 1 {
    ._#{$i} { @include animationDelay($i * $interval); }
}

.loading {
    display: inline-block;

}

#loading {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999; }
h1 {
    font-family: sans-serif;
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 4em
}
h1:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 11em;
    white-space: nowrap;
    color: #fff;
    animation: loading 2.5s linear;
}
.loader {
    animation: spin-1 .75s linear infinite;
    display: inline-block;

}
@keyframes loading {
    0% {
        max-width: 0;
    }
}

@-webkit-keyframes spin-1 {
    0% {
        -webkit-transform: rotate(360deg);
        opacity: 1; }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 0.5; }
    100% {
        -webkit-transform: rotate(0deg);
        opacity: 1; } }
@-moz-keyframes spin-1 {
    0% {
        -moz-transform: rotate(360deg);
        opacity: 1; }
    50% {
        -moz-transform: rotate(180deg);
        opacity: 0.5; }
    100% {
        -moz-transform: rotate(0deg);
        opacity: 1; } }
@keyframes spin-1 {
    0% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 1; }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 0.5; }
    100% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1; } }
@-webkit-keyframes spin-2 {
    0% {
        -webkit-transform: rotate(0deg);
        opacity: 0.5; }
    50% {
        -webkit-transform: rotate(180deg);
        opacity: 1; }
    100% {
        -webkit-transform: rotate(360deg);
        opacity: 0.5; } }
@-moz-keyframes spin-2 {
    0% {
        -moz-transform: rotate(0deg);
        opacity: 0.5; }
    50% {
        -moz-transform: rotate(180deg);
        opacity: 1; }
    100% {
        -moz-transform: rotate(360deg);
        opacity: 0.5; } }
@keyframes spin-2 {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0.5; }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1; }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0.5; } }

@mixin textGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {

    color: $textColor;
    position: relative;
    $steps: $intensity;

    // Ensure the @keyframes are generated at the root level
    @at-root {
        // We need two different ones
        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                        clip: rect(
                                        random($height)+px,
                                        $width+px,
                                        random($height)+px,
                                        0
                        );
                    }
                }
            }
        }
    }
    &:before,
    &:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $background;
        clip: rect(0, 0, 0, 0);
    }
    &:after {
        left: 2px;
        text-shadow: -1px 0 $highlightColor1;
        animation: #{$name}-anim-1 2s infinite linear alternate-reverse;
    }
    &:before {
        left: -2px;
        text-shadow: 2px 0 $highlightColor2;
        animation: #{$name}-anim-2 3s infinite linear alternate-reverse;
    }

}



.content {
    color: #000;
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    @include textGlitch("glitch", 20, #000, white, red, blue, 1084, 200);
}