body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/54/00/22/54002247d385ace9de25dbb814e095de.gif"); }

#myAnimation {
  position: absolute; }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.card {
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

._1 {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s; }

._2 {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s; }

._3 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s; }

._4 {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s; }

._5 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s; }

._6 {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  -ms-animation-delay: 2.4s;
  -o-animation-delay: 2.4s;
  animation-delay: 2.4s; }

._7 {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  -ms-animation-delay: 2.8s;
  -o-animation-delay: 2.8s;
  animation-delay: 2.8s; }

._8 {
  -webkit-animation-delay: 3.2s;
  -moz-animation-delay: 3.2s;
  -ms-animation-delay: 3.2s;
  -o-animation-delay: 3.2s;
  animation-delay: 3.2s; }

._9 {
  -webkit-animation-delay: 3.6s;
  -moz-animation-delay: 3.6s;
  -ms-animation-delay: 3.6s;
  -o-animation-delay: 3.6s;
  animation-delay: 3.6s; }

._10 {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s; }

.loading {
  display: inline-block; }

#loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999; }

h1 {
  font-family: sans-serif;
  position: relative;
  color: rgba(0, 0, 0, 0.3);
  font-size: 4em; }

h1:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 11em;
  white-space: nowrap;
  color: #fff;
  animation: loading 2.5s linear; }

.loader {
  animation: spin-1 .75s linear infinite;
  display: inline-block; }

@keyframes loading {
  0% {
    max-width: 0; } }
@-webkit-keyframes spin-1 {
  0% {
    -webkit-transform: rotate(360deg);
    opacity: 1; }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: rotate(0deg);
    opacity: 1; } }
@-moz-keyframes spin-1 {
  0% {
    -moz-transform: rotate(360deg);
    opacity: 1; }
  50% {
    -moz-transform: rotate(180deg);
    opacity: 0.5; }
  100% {
    -moz-transform: rotate(0deg);
    opacity: 1; } }
@keyframes spin-1 {
  0% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1; }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.5; }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1; } }
@-webkit-keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 0.5; }
  50% {
    -webkit-transform: rotate(180deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 0.5; } }
@-moz-keyframes spin-2 {
  0% {
    -moz-transform: rotate(0deg);
    opacity: 0.5; }
  50% {
    -moz-transform: rotate(180deg);
    opacity: 1; }
  100% {
    -moz-transform: rotate(360deg);
    opacity: 0.5; } }
@keyframes spin-2 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.5; }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0.5; } }
.content {
  color: #000;
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  position: relative; }
@keyframes glitch-anim-1 {
  0% {
    clip: rect(106px, 1084px, 153px, 0); }
  5% {
    clip: rect(20px, 1084px, 6px, 0); }
  10% {
    clip: rect(159px, 1084px, 87px, 0); }
  15% {
    clip: rect(43px, 1084px, 199px, 0); }
  20% {
    clip: rect(99px, 1084px, 63px, 0); }
  25% {
    clip: rect(158px, 1084px, 64px, 0); }
  30% {
    clip: rect(2px, 1084px, 27px, 0); }
  35% {
    clip: rect(169px, 1084px, 63px, 0); }
  40% {
    clip: rect(82px, 1084px, 98px, 0); }
  45% {
    clip: rect(124px, 1084px, 43px, 0); }
  50% {
    clip: rect(128px, 1084px, 112px, 0); }
  55% {
    clip: rect(144px, 1084px, 191px, 0); }
  60% {
    clip: rect(22px, 1084px, 19px, 0); }
  65% {
    clip: rect(17px, 1084px, 196px, 0); }
  70% {
    clip: rect(8px, 1084px, 148px, 0); }
  75% {
    clip: rect(50px, 1084px, 116px, 0); }
  80% {
    clip: rect(19px, 1084px, 180px, 0); }
  85% {
    clip: rect(124px, 1084px, 2px, 0); }
  90% {
    clip: rect(80px, 1084px, 74px, 0); }
  95% {
    clip: rect(76px, 1084px, 194px, 0); }
  100% {
    clip: rect(22px, 1084px, 170px, 0); } }
@keyframes glitch-anim-2 {
  0% {
    clip: rect(77px, 1084px, 91px, 0); }
  5% {
    clip: rect(184px, 1084px, 8px, 0); }
  10% {
    clip: rect(75px, 1084px, 23px, 0); }
  15% {
    clip: rect(128px, 1084px, 73px, 0); }
  20% {
    clip: rect(30px, 1084px, 137px, 0); }
  25% {
    clip: rect(25px, 1084px, 38px, 0); }
  30% {
    clip: rect(7px, 1084px, 8px, 0); }
  35% {
    clip: rect(199px, 1084px, 187px, 0); }
  40% {
    clip: rect(120px, 1084px, 89px, 0); }
  45% {
    clip: rect(196px, 1084px, 130px, 0); }
  50% {
    clip: rect(181px, 1084px, 157px, 0); }
  55% {
    clip: rect(168px, 1084px, 15px, 0); }
  60% {
    clip: rect(29px, 1084px, 117px, 0); }
  65% {
    clip: rect(9px, 1084px, 88px, 0); }
  70% {
    clip: rect(200px, 1084px, 47px, 0); }
  75% {
    clip: rect(158px, 1084px, 81px, 0); }
  80% {
    clip: rect(61px, 1084px, 14px, 0); }
  85% {
    clip: rect(150px, 1084px, 150px, 0); }
  90% {
    clip: rect(103px, 1084px, 76px, 0); }
  95% {
    clip: rect(69px, 1084px, 111px, 0); }
  100% {
    clip: rect(12px, 1084px, 199px, 0); } }
  .content:before, .content:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .content:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse; }
  .content:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-anim-2 3s infinite linear alternate-reverse; }

/*# sourceMappingURL=styles.css.map */
